{% extends 'Nomad_Coffee_Naryn_app/base.html' %}
{% block title %}О нас{% endblock %}

{% load static %}
{% block content %}

          <div id="about" class="tm-page-content">
            <div class="tm-black-bg tm-mb-20 tm-about-box-1">
              <div class="tm-list-item tm-list-item-2">
                <div class="tm-list-item-text-2">
                  <h2 class="tm-text-primary">
                    Nomad Coffee Naryn</h2>
                    <div class="img_div"><img class="img_special" src="{% static 'img/nomad_coffee.jpg' %}" alt="Image"></div><br>
                    <p> - Уютная кофейня в центре города Нарын</p>
                    <p> - Кофейня "Nomad" предлагает Вам попробовать натуральный кофе</p>
                </div>
              </div>
            </div>

            <div class="tm-black-bg tm-mb-20 tm-about-box-1">
              <div class="tm-list-item tm-list-item-2">
                <div class="tm-list-item-text-2">
                  <h2 class="tm-text-primary">
                    Первая кофейня в Нарыне «Nomad Coffee» </h2>
                    <div class="img_div"><img class="img_special" src="{% static 'img/author.jpg' %}" alt="Image"></div><br>

                    <p>40-летний Арслан Казакбаев – основатель первой кофейни в городе Нарын «Nomad Coffee».
                      У него 2 высших образования: инженер в сфере телекоммуникации и менеджер в сфере общественного питания и туризма. Рассказывает,
                      что решил открыть кофейню 5 лет назад целенаправленно после маркетингового исследования. Оказывается, в Нарыне в таком заведении давно зрела потребность.
                    </p>

                    <p> В самом начале кафе было рассчитано на 10 мест, но со временем популярность заведения росла. Сейчас там могут поместиться уже 70 человек. «Nomad Coffee» расположен в самом центре Нарына,
                    рядом с ним находятся банки, госучреждения, университет Центральной Азии. Сотрудники которых сейчас являются постоянными посетителями заведения. А до пандемии ими были исключительно зарубежные туристы.
                    </p>
                    <p>Про кофейню клиенты узнали благодаря «сарафанному» радио. Именно заведения такого формата с уникальным предложением по разнообразию напитков и еды в городе не было. Это и помогло стать «Nomad Coffee» популярным местом.
                      Но вместе с узнаваемостью, рассказывает, Арслан Казакбаев, появились и первые проблемы по утеплению.
                      В Нарыне летом никто не использует кондиционеры, зимы в регионе холодные, поэтому для обеспечения комфортного пребывания туристов в отелях, ресторанах и кафе необходимы теплые помещения.
                    </p>
                    <p>О том, как правильно утеплять здание Арслан Казакбаев узнал на тренингах проекта ПЭРЭТО по внедрению энергоэффективных мер, прошедших для владельцев индустрии гостеприимства 24-25 сентября в Нарыне.

                      Рассказывает, что заинтересовался солнечным коллектором, рекуператором воздуха, а также надежными методами утепления.

                      «Если не обогревать кафе, моментально становится прохладно. На тренингах узнал много интересной информации,
                      спасибо за организацию. Я считаю, что нам надо развивать зеленые технологии, ведь мы привлекаем туристов нашей нетронутой природой, у нас чисто и много зелени, мы как бизнесмены будем делать все, чтобы сохранить нашу экологию»,
                      - отметил Арслан Казакбаев.
                    </p>

                    <div class="social_icon">
                        <h3>Поделиться ссылкой</h3>
                        <div class="ya-share2" data-curtain data-size="l" data-limit="6" data-services="vkontakte,facebook,telegram,twitter,whatsapp"></div>
                      </div>

                </div>
              </div>
            </div>
          </div>

{% endblock %}