{% extends 'Nomad_Coffee_Naryn_app/index.html' %}

{% block content %}
     <div class="tm-black-bg tm-contact-form-container tm-align-right">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="tm-form-group">
                              <h3 class="font-weight-light my-4 text-center">Изменить текущий пароль</h3>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="tm-form-group">
                                                <input type="password" name="old_password" autocomplete="new-password"
                                                       class="tm-form-control" required id="id_old_password"
                                                       placeholder="Введите текущий пароль: "/>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="tm-form-group">
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="tm-form-control" required id="id_new_password1"
                                                       placeholder="Введите новый пароль"/>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="tm-form-group">
                                                <input class="tm-form-control" type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control"
                                                       placeholder="Повторите новый пароль"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="tm-form-group mt-0 mb-1">
                                                <button type="submit" class="tm-btn-primary tm-align-right" id="reset">Изменить пароль</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}