{% extends 'Nomad_Coffee_Naryn_app/base.html' %}
{% block title %}{% endblock %}


{% block content %}

<!-- menu_detail Page -->

          <div id="special" class="tm-page-content">
            <div class="tm-special-items">
              <div class="tm-black-bg tm-about-box-2">
                {% for menu_detail in menu %}

                <div class="tm-special-item-description">
                  <h2 class="tm-text-primary tm-special-item-title">{{ menu_detail.title_menu}}</h2>
                  <div class="img_div"><img src="{{ menu_detail.product_image.url }}" alt="Image" class="img_special"></div>
                  <p class="tm-special-item-text">{{ menu_detail.text_menu }}</p>
                </div><br>
                  {% endfor %}

                <script src="https://yastatic.net/share2/share.js"></script>
                  <div class="social_icon">
                    <h3>Поделиться ссылкой</h3>
                    <div class="ya-share2" data-curtain data-size="l" data-limit="6" data-services="vkontakte,facebook,telegram,twitter,whatsapp"></div>
                  </div>

              </div>

            </div>
          </div>
          <!-- end Special Items Page -->
{% endblock %}