{% extends 'Nomad_Coffee_Naryn_app/base.html' %}
{% block title %}Пользователь{% endblock %}


    {% block content %}

	<br><br>
	<div class="tm-black-bg tm-contact-form-container tm-align-right">
		<h2 style="align-text:center;">Информация пользователя</h2>
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="tm-form-group">
					<div class="img_div">
                                 <img  src="{{ user.profile.avatar.url }}" width="250" height="250" style="cursor: pointer; border-radius: 20px;"/>
                             </div><br>
			    	<h4 class="form-control font-weight-bold text-center">Привет, {{ user.username|title }}</h4>
			      	<hr>
			    	<div class="card-text">
						<p class="form-control mb-0" style="font-size: 16px"><b>Имя:</b>  {{ user.first_name }} </p>
			    		<p class="form-control mb-0" style="font-size: 16px"><b>Фамилия:</b>  {{ user.last_name }}</p>

			    		<p class="form-control mb-0" style="font-size: 16px"><b>Логин пользователя:</b>  {{ user.username }}</p>
						<p class="form-control mb-0" style="font-size: 16px"><b>Email:</b> {{ user.email }}</p>
						<p class="form-control mb-0" style="font-size: 16px"><b>Автобиография: </b><br>  {{ user.profile.bio }}</p>


			        </div>
		    	</div>
		  	</div>
			<i class='far fa-edit' style='font-size:24px'><a href="{% url 'profile' %}">Редактировать</a></i>
		</div>
	</div>
</div>

	{% endblock %}